*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}
#nav{
  background-color: rgb(1, 1, 1);
  color: white;
  padding: 10px 30px;
}
#hero{
  
  background: rgba(8, 8, 8, 0.762) url("https://images.pexels.com/photos/6188405/pexels-photo-6188405.jpeg");
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#movie{
  font-size: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
  padding-bottom: 10px;
}
#content{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.67);
}
#search-box{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 5px 0px 5px 10px ;
  margin-bottom:20px;
  width: 650px;
  border: 1px solid white;
  border-radius: 10px;
}
#search-area{
  height: 50px;
  width: 500px;
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 5px;
  color: white;
}
#search{
  height: 60px;
  width: 100px;
  padding: 12px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}
#search:hover{
  background-color: rgba(255, 0, 0, 0.948);
  transform: translateY(-1px);
  border: 1px solid rgba(255, 255, 255, 0.67);
}
#explore{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
   color: rgba(255, 255, 255, 0.67);
}
#break{
  background-color: red;
  height: 5px;
  width: 100px;
  border-radius: 5px;
}




#hero-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(1, 1, 1);
   color: white;
}

.sections{
  height: 100vh;
  width:30vw;
}


#sec-1{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}


#poster{
  height: 400px;
  width: 30vw;
  margin: 20px 0px;
}

 
#trailer{
  color: white;
  background-color: red;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#trailer:hover{
  transform: translateY(-2px);
  transform: scale(1.01);
}

#trailor-link{
 text-decoration: none;
 color: white;
 font-size: 20px;
 font-weight:800 ;

}
#sec-2{
  display: flex;
  flex-direction: column;
 
}

#title{
  margin-bottom: 5px;

}
#yrrr{
   margin-bottom: 5px;
}
 
#genre{
  color: red;
}

#basic-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.basic-details {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #e98f8f53;
}

.basic-details h3 {
    width: 100px;
    margin: 0;
    font-size: 16px;
}

.basic-details p {
    margin: 0;
    color: white;
    flex: 1;
}

#plot{
  margin: 10px 0px;
}
#plot-head{
  margin: 10px 0px;
}
#sec-3{
  display: flex;
  flex-direction: column;
}

#ratings{
  display: flex;
  flex-direction: column;
  margin: 10px 0px 50px 0px;
  border: 1px solid rgba(255, 255, 255, 0.455);
  padding: 20px;
  border-radius: 20px;
}

.diff-ratings{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.478);
  margin-bottom: 10px;
  padding-bottom: 5px;
  
}
#extra-data{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.455);
  padding: 20px;
  border-radius: 20px;
}
.external{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.478);
  margin-bottom: 10px;
  padding-bottom: 5px;
}
 



